* {
    font-family: 'Noto Sans TC', 300i sans-serif;
}

.videosyt{
    border-radius: 5rem;
}

#mainNav {
    min-height: 90px;
    background-color: black;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
}

#mainNav .navbar-toggler:focus {
    outline: none;
    color: white;
}

#mainNav .navbar-toggler:hover {
    outline: none;
    color: white;
}

#mainNav .navbar-brand {
    color: #c9c9c9;
    font-weight: bold;
    padding: .9px 0;
}

#mainNav .navbar-brand:hover {
    color: white;
}

#mainNav .nav-link {
    font-size: 12px;
    color: #c9c9c9;
}

#mainNav .nav-link:hover {
    font-size: 12px;
    color: white;
}

#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: #c9c9c9;
    }

    #mainNav .navbar-brand:hover {
        padding: .5rem 0;
        color: white;
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        font-size: 12px;
        color: #c9c9c9;
    }

    #mainNav .nav-link:hover {
        color: white;
    }

    #mainNav .nav-link:active {
        color: color: white;
    }

    #mainNav.navbar-shrink {
        background-color: black;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #c9c9c9;
    }

    #mainNav.navbar-shrink .navbar-brand:hover {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #c9c9c9;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: white;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: white;
        outline: none;
    }
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: white;
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    font-weight: bold;
}

.masthead h2 {
    max-width: 10rem;
    font-size: 0.5rem;
    -webkit-text-fill-color: white;
}

.masthead h3 {
    max-width: 0.5rem;
    font-size: 0.1rem;
    -webkit-text-fill-color: #9e9e9e;
}

.navlink2:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1 {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 0.4rem;
        font-weight: bold;
    }

    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }

    .masthead h3 {
        max-width: 30rem;
        font-size: 0.6rem;
    }
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    letter-spacing: .15rem;
    border: 0;
}

.btn-primary {
    background-color: #64a19d;
}

.btn-primary:hover {
    background-color: #4f837f;
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}

.about-section {
    padding-top: 3rem;
    background: white;
    padding-bottom: 3rem;
}

.about-section h2 {
    padding: 1rem;
    color: black;
    font-size: 250%;
}

.about-section h3 {
    color: black;
}

.about-section p {
    margin: 1rem;
    color: grey;
}

.about-section .universidad {
    margin-bottom: 1rem;
    color: red;
}

.projects-section {
    padding: 2rem;
    background: white;
}

.projects-section h2 {
    padding: 1rem;
}

.projects-section .featured-text {
    padding: 2rem;
    background: white;
}

.producto1 {
    text-align: center;
    padding: 2rem;
}

.projects-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    font-size: 30px;
    border-radius: 100%;
    line-height: 3rem;
    color: #858585;
}

.projects-section .social a:hover .windows {
    color: #08BDFF;
}

.projects-section .social a:hover .apple {
    color: #000000;
}

.projects-section .social a:hover .ubuntu {
    color: #49009C;
}

.projects-section .social a:hover .js {
    color: #00F230;
}

.projects-section .social a:hover .java {
    color: #FF0033;
}

.projects-section .social a:hover .sql {
    color: #0073ff;
}

.projects-section .social a:hover .c {
    color: #127BB8;
}

.projects-section .social a:hover .html {
    color: #FF8D03;
}

.projects-section .social a:hover .python {
    color: #FFF703;
}

.projects-section .social a:hover .git {
    color: #000000;
}

.projects-section .social a:hover .css {
    color: #00F2EE;
}

.projects-section .social a:hover .bootstrap {
    color: #A400EB;
}

.projects-section .habilidades a {
    text-align: center;
    height: 3rem;
    width: 5rem;
    border-radius: 100%;
    color: #858585;


}


@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0 0 0 2rem;
        background: white;
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 150%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: .25rem;
        width: 30%;
    }
}

.signup-section {
    padding: 3rem 0;
    background: #4f4f4f;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-inline input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    text-align: center;
    height: auto;
    font-size: 80%;
    border: 0;
}

.contact-section {
    padding: 3rem 0 0;
}

.interés{
font-size: 24px;
}

.centro{
    text-align:center;
}
.contact-section .social {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact-section h5 {
    font-weight: bold;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover .twitter {
    color: #29c2ff;
}

.contact-section .social a:hover .facebook {
    color: #0073ff;
}

.contact-section .social a:hover .instagram {
    color: #c259ff;
}

.contact-section .social a:active {
    color: #fff;
}

body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
}

a {
    color: #64a19d;
}

a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-primary {
    background-color: #64a19d !important;
}

.text-primary {
    color: #64a19d !important;
}

footer {
    padding: 5rem 0;
}
